#minus,
#pulus {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 20px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  &:hover {
    background-color: #45a049;
    box-shadow: 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }
}

body {
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  color: yellow;
}
.green-text {
  color: green;
}
.red-text {
  color: red;
}
.yellow-text {
  color: yellow;
}

.red-bg {
  background-color: red;
}
.green-bg {
  background-color: green;
}
